{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>MyTITLE</title>
    <!-- Bootstrap core CSS -->

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
</head>
<body>

<table border="1">
    <tr>
        {% for colname in col %}
            <th>{{ colname }}</th>
        {% endfor %}
    </tr>
    {% for item in book_list %}
        <tr>
            {% for item_detail in item %}
                <td> {{ item_detail }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>