{% extends "include/base.html" %}
{% block title %}
    <title>表结构比对</title>
{% endblock %}
{% block name %}
    欢迎使用MySQL数据库<span style="color:red">表结构比对</span>功能
{% endblock %}
{%block content%}
    <div id="wrapper">
        <form role="form" method='post'>
            {% csrf_token %}
            {% include "include/sidebar.html" %}
            <div id="page-content-wrapper">
                <div class="row">
                    <div class="col-md-3">

                        <select onchange="Change1()" id="dbid1" class="form-control col-md-1" name = "choosedb1">
                            <option value ="">----------</option>
                            {% for obj in objlist %}
                                {% if obj == choosed_host1 %}
                                    <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                {% else %}
                                    <option value ="{{ obj }}">{{ obj }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="tbid1" class="form-control col-md-1" name = "choosetb1">
                            <option selected="selected" value ="">----------</option>
                        </select>

                    </div>
                    <div class="col-md-3">
                        <select onchange="Change2()" id="dbid2" class="form-control col-md-1" name = "choosedb2">
                            <option value ="">----------</option>
                            {% for obj in objlist %}
                                {% if obj == choosed_host2 %}
                                    <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                {% else %}
                                    <option value ="{{ obj }}">{{ obj }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="tbid2" class="form-control col-md-1" name = "choosetb2">
                            <option selected="selected" value ="">----------</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                </div>

            </div>
        </form >
        {% if result %}
            <pre>{{ result }}</pre>
        {% endif %}
    </div>



{% endblock %}
{% block script %}
    {% include "include/pagejump/pagejump.html" %}
    {#    {% include "include/pagejump/tabledata.html" %}#}
    <script>
        function Change1() {
            var dbtag=$("#dbid1 option:selected").val();
            $("#tbid1").empty("");
            $.get("{% url 'get_tblist' %}",{'dbtag':dbtag}).done(function (data) {
                for (var i =0 ; i <= data.length - 1; i++) {
                    $("#tbid1").append("<option value='" + data[i]  + "'>" + data[i] + "</option>");

                };
            });
        }
        function Change2() {
            var dbtag=$("#dbid2 option:selected").val();
            $("#tbid2").empty("");
            $.get("{% url 'get_tblist' %}",{'dbtag':dbtag}).done(function (data) {
                for (var i =0 ; i <= data.length - 1; i++) {
                    $("#tbid2").append("<option value='" + data[i]  + "'>" + data[i] + "</option>");

                };
            });
        }


    </script>

    {#    <script>#}
    {##}
    {#        $("#menu-toggle").click(function(e) {#}
    {#            e.preventDefault();#}
    {#            $("#wrapper").toggleClass("toggled");#}
    {#        });#}
    {#        function record_cookie() {#}
    {#            var fav = document.getElementById("id_favword");#}
    {#            myfav =escape(fav.value);#}
    {#            myfav = fav.value.replace(/\n/g,"^");#}
    {#            var expires = new Date();#}
    {#            expires.setTime(expires.getTime() + 3500000);#}
    {#            pathstr = ';path=/';#}
    {#            alert(myfav);#}
    {#            document.cookie = "myfavword"+"="+myfav+pathstr+';expires='+expires.toGMTString();#}
    {#        }#}
    {##}
    {#        function showfav() {#}
    {#            var fav = document.getElementById("id_favword");#}
    {#            myfav =unescape(fav.value);#}
    {#            fav.value = myfav;#}
    {#        }#}
    {#    </script>#}

{% endblock %}
